.background_image{
  height: 790px;
  background-image: url('../images/backgrounds/hero.jpg');
  /*background-repeat:no-repeat;
  background-size:contain;
  background-position:center;*/
}
.navigation{
  height: 100px;
  color: white;
}
.logo{
  padding: 30px;
}
.background_links{
  float: right;
  padding: 20px;
}
section,ol,li{
  float: left;
  list-style-type: none;
  padding: 10px;
  padding-right: 30px;
}
section,ol,li,a{
  color: white;
  text-decoration: none;
}
.d_flex{
  height: auto;
  text-align: center;
  color: white;
}
.product_selection{
  width: 100%;
  height: 100px;
  background-color: #b8b894;
}
.product_sex{
  margin: 40px;
  margin-left: 100px;
  color: black;
}
.form-check-label{
  padding-left: 15px;
}
.product_sex_all{
  float: right;
  margin: 20px;
  margin-right: 20px;
}
.all_products{
  height: 50px;
  width: 250px;
  color: white;
  background-color: maroon;
  border-color: maroon;
  border-radius: 5px;
}
