.background_image{
  height: 790px;
  background-image: url('../images/backgrounds/hero.jpg');
  /*background-repeat:no-repeat;
  background-size:contain;
  background-position:center;*/
}
.navigation{
  height: 100px;
  color: white;
}
.logo{
  padding: 30px;
}
.background_links{
  float: right;
  padding: 20px;
}
section,ol,li{
  float: left;
  list-style-type: none;
  padding: 10px;
  padding-right: 30px;
}
section,ol,li,a{
  color: white;
  text-decoration: none;
}
.d_flex{
  height: auto;
  text-align: center;
  color: white;
}
.product_selection{
  width: 100%;
  height: 100px;
  background-color: #b8b894;
}
.product_sex{
  margin: 30px;
  margin-left: 100px;
  color: black;
}
.form-check-label{
  padding-left: 10px;
}
.product_sex_all{
  float: right;
  margin: 20px;
  margin-right: 20px;
}
.all_products{
  height: 50px;
  width: 250px;
  color: white;
  background-color: #661a00;
  border-color: #661a00;
  border-radius: 5px;
}
input[type=checkbox] {
    zoom: 1.5;
}
.men_head{
  float: left;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow;
  text-align: center;
  text-anchor:initial;
  line-height: 50px;
}
.women_head{
  float: right;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow;
  text-align: center;
  text-anchor:initial;
  line-height: 50px;
}
.men_show{
  height: 450px;
  width: auto;
  //background-color: yellowgreen;
}
.women_show{
  height: 450px;
  width: auto;
  //background-color: yellowgreen;
}
.show_details{
  width: auto;
  height: 350px;
  margin: 40px;
  background-color: #f2f2f2;
}
.show_details_top{
  height: 10%;
  width: 100%;
  //background-color: white;
}
.show_details_center{
  height: 80%;
  width: 100%;
  //background-color: red;
}
.show_picture{
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
}
.show_details_bottom{
  height: 10%;
  width: 100%;
  padding: 5px;
  //background-color: pink;
}
.show_top{
  color: black;
}
.show_name{
  float: left;
  color: brown;
}
.show_price{
  float: right;
  color: black;
}
.about_us{
  height: 400px;
  width: 100%;
  background-image: url('../images/backgrounds/about.jpg');
}
.about_us_text{
  color: white;
  margin: 6%;
  padding: 20px;
  border: 2px solid;
  border-color: #888844;
}
.sales{
  width: auto;
  height: 80px;
  background-color: #808080;
}
